.header{
  width: 100%;
  height: 300px;

  margin-top: 100px;
  margin-bottom: 20px;

  // background: url(../../images/logos/codepen-icon-faded.svg) no-repeat;
  // background: rgba(0,0,0,0.3) url(http://s3-us-west-2.amazonaws.com/i.cdpn.io/57971.WrdQrr.489758f3-bc24-4a0e-a082-068755a1f066.png) no-repeat;
  // background-size: 500px 300px;
  // background-position: center center;
  // background-
  // background-position-y: 210%;
  // background-position-x: center;
  &:hover {
    & > .background{
      opacity: 1;
    }
    & > h1{
      opacity: 0.1;
      transform: translateY(200px);
    }
    & > .codepen-icon{
      opacity: 0.1;
      transform: translateY(200px);
    }
    & > .info{
     transform: translateY(200px);
    }

  }

  & > *{
    transition: all 1s;
  }

  & > .background{
    opacity: 0;
    height: 300px;
    margin-bottom: -300px;
    z-index: 1;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  & > .codepen-icon{
    margin-top: 100px;
    z-index: 2;
  }

  & > .title{
    position: relative;
    flex: 1;
    z-index: 2;
    margin: 100px;
  }
  
  & > h1{
    font-size: 3em;
    margin-top: 20px;
    z-index: 2;
    font-weight: lighter;
  }

  & > .info{
    margin-top: 10px;
    display: flex;
    z-index: 2;

    & > .item{
      margin-left: 20px;
      font-size: 0.8em;
      font-weight: lighter;

      & > .value { 
        display: inline-block;
        font-weight: normal;
      }
    }
  }
}

@keyframes slide-in{
  0%{
    transform: translateY(150px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}