body, html{
  background: white;

  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Liberation Sans', 'Arial', sans-serif;
}

a{
  text-decoration: none;
  color: black;
}

h1{
  font-size: 1.8em;
  font-weight: lighter;
  margin: 0px;
}
h2{
  font-size: 1em;
}
h3{
  font-size: 1em;
  font-weight: lighter;
  margin: 0px;
  opacity: .6;
}
