.header{
  width: 100%;
  height: 500px;
  margin-top: 60px;

  border-bottom: 1px solid $border;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > .title{
    flex: 1;
  }
}