.header{
  width: 100%;
  // height: 100%;
  margin-top: 60px;

  border-bottom: 1px solid $border;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  & > .title{
    flex: 1;
    margin: 100px;
  }

  & > .header-image{
    max-width: 676px;
    width: 80%;
    animation: slide-in 1s ease-in-out;
  }
}

@keyframes slide-in{
  0%{
    transform: translateY(150px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}