#menu{
  position: fixed;
  top: 0px;
  left: 0px;
  
  width: 100%;
  height: 60px;

  display: flex;
  align-items: center;
  background: rgba(255,255,255, 0.9);

  font-weight: lighter;
  
  & > .icon{
    flex: 1;
    padding: 10px;
    margin-left: 10px;

    img{
      height: 20px;
    }
  }

  & > .items{
    position: absolute;
    flex: 1;
    width: 100%;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    margin-top: 5px;

    &:hover a{
      opacity: 0.4;
    }

    & > a {
      margin: 10px 15px;
      padding: 5px 0px;
      font-size: 0.9em;
      border-bottom: 2px solid rgba(0,0,0,0);

      &:hover{
        opacity: 1;
        border-bottom: 2px solid $base;
      }

      &:active{
        opacity: 0.4;
      }
    }
  }

  & > .social{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & > a{
      padding: 10px;

      & > img{
        height: 15px;
      }

      &:last-child{
        padding-right: 20px;
      }
    }
  }
}