.footer
  .item.left
    a(href='http://codepen.io/')
      img(src='images/logos/codepen-logo.svg')
    .description Creators of codepen
  .item.center
  .item.right
    .description All our icons are created by:
    a(href='http://nucleoapp.com/')
      img(src='images/logos/nucleo.svg')