#menu
	.items
		a.bold(href='/analyze') Try it out!
		a(href='/features') Features
		a(href='/usage') Usage
		a(href='/api') Api
		a(href='/privacy') Privacy

	.social
		a(href='https://twitter.com/TheSuitcaseIO')
			img(src='images/logos/twitter.svg')
		a(href='https://codepen.io/thesuitcase')
			img(src='images/logos/codepen-outline.svg')

	
	a.icon(href='/')
		img(src='images/logos/codepen-icon.svg')
				