doctype
html
  head
    link(href='styles/css/main.css' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css')
  body

    //- 
    //- Menu
    //- scss: menu.scss
    //- 
    #menu 
      a.icon(href='/')
        img(src='images/suitcase-icon.svg')

      .items
        a.item(href='/features') Features
        a.item(href='/usage') Usage
        a.item(href='/privacy') Privacy

      .social
        a(href='https://twitter.com/TheSuitcaseIO')
          img(src='images/twitter.svg')
        a(href='https://codepen.io/thesuitcase')
          img(src='images/codepen.svg')
        a(href='https://codepen.io/thesuitcase')
          img(src='images/love.svg')

    //- 
    //- Header
    //- scss: header.scss
    //- 
    .header 
      img.title(src='images/title.svg')
      img.header-image(src='images/header-image.svg')

    //- 
    //- Features
    //- scss: banner.scss
    //- 
    .banner
      h1 Get to know your audenice
      h3 Browser statitcs to support your decisions.

      .content
        .item.browser
          img(src='images/chrome.svg')
          .info
            .title Chrome
            .value 12%
        .item.browser 
          img(src='images/safari.svg')
          .info
            .title Safari
            .value 12%
        .item.browser 
          img(src='images/firefox.svg')
          .info
            .title Firefox
            .value 12%
        .item.browser 
          img(src='images/opera.svg')
          .info
            .title Opera
            .value 12%
        .item.browser 
          img(src='images/ie.svg')
          .info
            .title IE
            .value 12%


    .banner
      h1 Or collect some fun facts
      h3 Cultures and Countries. 

      .content
        .item.country
          img(src='images/flag-usa.svg')
          .info
            .title USA
            .value 44%
        .item.country 
          img(src='images/flag-netherlands.svg')
          .info
            .title Netherlands
            .value 25%
        .item.country 
          img(src='images/flag-uk.svg')
          .info
            .title UK
            .value 12%
        .item.country 
          img(src='images/flag-spain.svg')
          .info
            .title Spain
            .value 9%
        .item.country 
          img(src='images/flag-italy.svg')
          .info
            .title Italy
            .value 8%
        .item.country 
          img(src='images/flag-belgium.svg')
          .info
            .title Belgium
            .value 2%

    .banner
      h1 Human Interaction
      h3 Coding is all about humans. 

      .content
        .item.humaninteraction
          img(src='images/human-interaction-likes.svg')
          .info
            .title Likes
            .value 322
        .item.humaninteraction 
          img(src='images/human-interaction-views.svg')
          .info
            .title Views
            .value 4.603
        .item.humaninteraction 
          img(src='images/human-interaction-comments.svg')
          .info
            .title Comments
            .value 19
        .item.humaninteraction 
          img(src='images/human-interaction-twitter.svg')
          .info
            .title Tweets
            .value 92
            
    //- 
    //- Footer
    //- 
    .footer
      .item.left
        a(href='http://codepen.io/')
          img(src='images/codepen-logo.svg')
        .description Creators of codepen
      .item.center
      .item.right
        .description All our icons are created by:
        a(href='http://nucleoapp.com/')
          img(src='images/nucleo.svg')